<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Juff.dao.UserMapper">
    <select id="queryUserById" resultType="user">
        select * from user where id=#{id}
    </select>

    <update id="updateUser" parameterType="user">
        update mybatis.user set name=#{name},pwd=#{pwd} where  id=#{id}
    </update>

    <!--设置二级缓存,需要将实体类序列化-->
    <!-- <cache />-->

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

</mapper>